---
layout: default
title: My card game
---

<h1>{{ page.title }}</h1>
<div>
    <a href="/2018/07/26/card-game.html">Why a card game?</a>
    <span class="right"><a href="/decks/">View cards by deck</a></span>
</div>
<div id="items">
    {% for post in paginator.posts %}
    {% include card.html %}    
    {% endfor %}
</div>
<div class="pagination">
    <span class="previous_page">
        {% if paginator.previous_page %}
            <a href="{{ paginator.previous_page_path }}">previous page</a>
        {% else %}
            <span class="no-link">previous page</span>
        {% endif %}
    </span>
    <span class="pages">
        {% for page in (1..paginator.total_pages) %}
            <span class="page_number">
            {% if page == paginator.page %}
                {{ page }}
            {% elsif page == 1 %}
                <a href="{{ paginator.previous_page_path | relative_url }}" aria-label="Page {{ page }}">{{ page }}</a>
            {% else %}
                <a href="{{ site.paginate_path | relative_url | replace: ':num', page }}" aria-label="Page {{ page }}">{{ page }}</a>
            {% endif %}
            </span>
        {% endfor %}
    </span>
    <span class="next_page">
        {% if paginator.next_page %}
            <a href="{{ paginator.next_page_path }}">next page</a>
        {% else %}
            <span class="no-link">next page</span>
        {% endif %}
    </span>
</div>
