<h1>{{ page.title }}</h1>
<div id="cards">
    <article class="card">
        <a href="/2018/07/26/card-game/">
            {% include card-symbol.html %}
            <img class="card_cover" src="/img/cards/posts/instructions/cover.jpg" alt="">
            <h2>Instructions</h2>
        </a>
    </article>
    <article class="card">
        <a href="/2018/02/27/duplication-you-are-welcome/">
            {% include card-symbol.html %}
            <img class="card_cover" src="/img/cards/posts/duplication/cover.jpg" alt="">
            <h2>Duplication, you're welcome</h2>
        </a>
    </article>
    <article class="card">
        <a href="/2017/09/01/do-we-have-a-good-safety-net-to-change-this-legacy-code">
            {% include card-symbol.html %}
            <img class="card_cover" src="/img/cards/posts/mutation-testing/cover.jpg" alt="">
            <h2>99% code coverage</h2>
        </a>
    </article>
    <article class="card">
        <a href="/2017/07/09/P3-Quality/">
            {% include card-symbol.html %}
            <img class="card_cover" src="/img/cards/posts/P3-Quality/cover.jpg" alt="">
            <h2>P3 Quality</h2>
        </a>
    </article>
    <article class="card">
        <a href="/2018/01/06/living-a-coderetreat-as-a-facilitator/">
            {% include card-symbol.html %}
            <img class="card_cover" src="/img/cards/posts/coderetreat/cover.svg" alt="">
            <h2>Living a Coderetreat as a facilitator</h2>
        </a>
    </article>
</div>
