<h1>{{ page.title }}</h1>
<div id="cards">
    <article class="card">
        <a href="/2018/07/26/card-game">
            {% include card-symbol.html %}
            <div class="card_content">
                <img class="card_cover" src="/img/cards/posts/instructions/cover.jpg" alt="">
                <h2>Game instructions</h2>
            </div>
        </a>
    </article>
    <article class="card">
        <a href="/2018/11/13/test-driven-programming-workflows">
            {% include card-symbol.html %}
            <div class="card_content">
                <img class="card_cover" src="/img/cards/posts/test-driven-programming-workflows/cover.jpg" alt="">
                <h2>Test-driven programming workflows</h2>
            </div>
        </a>
    </article>
    <article class="card">
        <a href="/2018/11/11/power-of-accessibility">
            {% include card-symbol.html %}
            <div class="card_content">
                <img class="card_cover" src="/img/cards/posts/power-of-accessibility/cover.jpg" alt="">
                <h2>The power of accessibility</h2>
            </div>
        </a>
    </article>
    <article class="card">
        <a href="/2018/02/27/duplication-you-are-welcome">
            {% include card-symbol.html %}
            <div class="card_content">
                <img class="card_cover" src="/img/cards/posts/duplication/cover.jpg" alt="">
                <h2>Duplication, you're welcome</h2>
            </div>
        </a>
    </article>
    <article class="card">
        <a href="/2017/09/01/do-we-have-a-good-safety-net-to-change-this-legacy-code">
            {% include card-symbol.html %}
            <div class="card_content">
                <img class="card_cover" src="/img/cards/posts/mutation-testing/cover.jpg" alt="">
                <h2>99% code coverage</h2>
            </div>
        </a>
    </article>
    <article class="card">
        <a href="/2017/07/09/P3-Quality">
            {% include card-symbol.html %}
            <div class="card_content">
                <img class="card_cover" src="/img/cards/posts/P3-Quality/cover.jpg" alt="">
                <h2>P3 Quality</h2>
            </div>
        </a>
    </article>
    <article class="card">
        <a href="/2018/01/06/living-a-coderetreat-as-a-facilitator">
            {% include card-symbol.html %}
            <div class="card_content">
                <img class="card_cover" src="/img/cards/posts/coderetreat/cover.svg" alt="">
                <h2>Living a coderetreat as a facilitator</h2>
            </div>
        </a>
    </article>
    <article class="card">
        <a href="/2018/03/31/rereading-the-mythical-man-month">
            {% include card-symbol.html %}
            <div class="card_content">
                <img class="card_cover" src="/img/cards/posts/the-mythical-man-month/cover.png" alt="">
                <h2>Rereading The Mythical Man-Month</h2>
            </div>
        </a>
    </article>
    <article class="card">
        <a href="/2017/08/20/my-first-steps-as-an-embedded-sw-craftswoman">
            {% include card-symbol.html %}
            <div class="card_content">
                <img class="card_cover" src="/img/cards/posts/embedded-sw-craftswoman/cover.jpg" alt="">
                <h2>An embedded software craftswoman</h2>
            </div>
        </a>
    </article>
</div>
