<a href="https://github.com/rachelcarmena" title="Github profile" target="_blank"><img src="/img/footer/github.svg" alt=""></a>
<a href="https://twitter.com/bberrycarmen" title="Twitter profile" target="_blank"><img src="/img/footer/twitter.svg" alt=""></a>
<a href="https://www.linkedin.com/in/raquelmorenocar/" title="Linkedin profile" target="_blank"><img src="/img/footer/linkedin.svg" alt=""></a>
<a href="https://www.slideshare.net/raquelmorenocarmena/presentations" title="Slideshare presentations" target="_blank"><img src="/img/footer/slideshare.svg" alt=""></a>
<a href="https://www.flickr.com/photos/rachelcarmena/albums" title="Photo albums" target="_blank"><img src="/img/footer/camera.svg" alt=""></a>
<a href="https://www.youtube.com/channel/UCHPmRUkWp_sI4RpWd5X0nag/featured" title="YouTube profile" target="_blank"><img src="/img/footer/youtube.svg" alt=""></a>
<a href="/feed.xml" title="Atom RSS feed" target="_blank"><img src="/img/footer/rss.svg" alt=""></a>
