<a href="https://github.com/rachelcarmena" title="Github profile" target="_blank"><img src="/img/footer/github.svg" alt=""></a>
<a href="https://twitter.com/bberrycarmen" title="Twitter profile" target="_blank"><img src="/img/footer/twitter.svg" alt=""></a>
<a href="https://www.linkedin.com/in/raquelmorenocar/" title="Linkedin profile" target="_blank"><img src="/img/footer/linkedin.svg" alt=""></a>
<a href="https://www.slideshare.net/raquelmorenocarmena/presentations" title="Slideshare presentations" target="_blank"><img src="/img/footer/slideshare.svg" alt=""></a>
<a href="https://www.flickr.com/photos/rachelcarmena/albums" title="Photo albums" target="_blank"><img src="/img/footer/camera.svg" alt=""></a>
<a href="https://www.youtube.com/channel/UCHPmRUkWp_sI4RpWd5X0nag/featured" title="YouTube profile" target="_blank"><img src="/img/footer/youtube.svg" alt=""></a>
<a href="https://www.meetup.com/members/192375574" title="Meetup profile" target="_blank"><img src="/img/footer/meetup.svg" alt=""></a>
<a href="https://stackoverflow.com/users/7298719/rachel-m-carmena" title="Stack Overflow profile" target="_blank"><img src="/img/footer/stackoverflow.svg" alt=""></a>
<a href="https://issues.jenkins-ci.org/issues/?filter=15867" title="Some contributions to Jenkins Community" target="_blank"><img src="/img/footer/jenkins.svg" alt=""></a>
<a href="https://community.atlassian.com/t5/user/v2/viewprofilepage/user-id/630548" title="Some contributions to Atlassian Community" target="_blank"><img src="/img/footer/atlassian.svg" alt=""></a>
<a href="https://instagram.com/rachelcarmena" title="Instagram" target="_blank"><img src="/img/footer/instagram.svg" alt=""></a>
<a href="https://trello.com/rachelmcarmena" title="Trello profile" target="_blank"><img src="/img/footer/trello.svg" alt=""></a>
<a href="https://www.reddit.com/user/rachelcarmena" title="reddit profile" target="_blank"><img src="/img/footer/reddit.svg" alt=""></a>
<a href="/feed.xml" title="Atom RSS feed" target="_blank"><img src="/img/footer/rss.svg" alt=""></a>
