---
---

@import "{{ site.theme }}";

:root {
    --main-max-width: 54em;
    --main-color: #333;
}

header, footer {
    text-align: center;
}

#header_wrap, #main_content_wrap {
    background: white;
    border: 0;
}

#header_wrap .inner {
    padding: 1em 0 0 0;
}

#footer_wrap {
    background: #212121;
}

#footer_wrap .inner {
    max-width: 100%;
    padding: 30px 10px 40px 10px;
}

pre {
    margin: 1em 0;
}

img {
    border: 0;
    box-shadow: none;
    -webkit-box-shadow: none;
    margin: 0;
    padding: 0;
}

/* Header content ---------------- */

#header_title {
    margin-top: 0.1em;
    font-size: 1.2em;
}

/* Cards ------------------------- */

#main_content {
    max-width: var(--main-max-width);
    padding: 1.8em;
}

#main_content h1 {
    margin-top: 0;
    margin-bottom: 0;
}

#items { 
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(15em, 1fr));
    grid-gap: 1.4em;
    margin-top: 0.6em;
    margin-bottom: 1.5em;
}

.card_cover {
    height: 140px;
    width: 100%;
    object-fit: cover;
}

.deck_cover {
    height: 208px;
    width: 100%;
    object-fit: cover;
}

.card {
    border: 2px solid var(--main-color);
    border-radius: 10px;
    position: relative;
}

.card a, .deck a {
    display: block;
    padding: 0.8em;
    text-decoration: none;
}

.card:hover, .card:focus, .card a:focus {
    background-color: var(--main-color);
    transition: background-color 0.8s;
}

.card_symbol {
    margin-bottom: 0.8em;
}

.card_content {
    background: white;
    position: relative;
    padding: 1.4em;
}

.card_content h2 {
    background: white;
    line-height: 1.4em !important;
    font-size: 1.6em;
    color: var(--main-color);
    text-align: right;
    min-height: 4.2em;
}

.deck_content {
    background: white;
    position: relative;
    padding: 1.2em;
}
.deck_content h2 {
    background: white;
    font-size: 2.2em;
    color: var(--main-color);
    text-align: center;
}

.deck {
    border: 2px solid var(--main-color);
    position: relative;
}

.deck:hover, .deck:focus, .deck a:focus {
    background-color: var(--main-color);
    transition: background-color 0.8s;
}

.deck_number {
    color: var(--main-color);
    text-align: right;
    font-size: 1.2em;
}

/* Posts ------------------------- */

#post_content {
    margin-left: auto; 
    margin-right: auto; 
    margin-bottom: 3em;
    max-width: 40em;
}

#post_content img {
    max-width: 100%;
}

#post_image {
    max-height: 200px;
    width: 100%;
    object-fit: cover;
    object-position: 0 25%;
}

.date {
    font-size: 0.8em;
}

.js-line-number {
    border: 0 !important;
}

.pagination {
    font-size: 14px;
    display: block;
    width: auto;
    overflow: hidden;
    margin-top: 1em;
}

.pagination .previous_post, .pagination .next_post {
    width: 50%;
    float: left;
}

.pagination .previous_page, .pagination .pages, .pagination .next_page {
    width: 33%;
    float: left;
}

.pagination .pages {
    text-align: center;
}

.pagination .next_post, .pagination .next_page {
    text-align: right;
}

.info {
    color: #bbb;
}

.license {
    clear: both;
    color: white;
    font-size: small;
    display: block;
    margin-top: 40px;
}

.highlight {
    background-color: white;
}

.right {
    float: right;
}

.left {
    float: left;
}
