---
---

@import "{{ site.theme }}";

:root {
    --main-max-width: 54em;
    --main-color: #333;
}

li {
    margin: 0.3em 0;
}

header, footer {
    text-align: center;
}

#header_wrap, #main_content_wrap {
    background: white;
    border: 0;
}

#header_wrap .inner {
    padding: 1em 0 0 0;
}

#footer_wrap {
    background: #212121;
}

#footer_wrap .inner {
    max-width: 100%;
    padding: 3em 1em;
}

pre, code {
    box-shadow: none;
}

pre code {
    padding: 1em 0.5em;
    background-color: #eee;
}

img {
    border: 0;
    box-shadow: none;
    -webkit-box-shadow: none;
    margin: 0;
    padding: 0;
}

/* Header content ---------------- */

#header_title {
    margin-top: 0.1em;
    font-size: 1em;
}

/* Cards ------------------------- */

#main_content {
    max-width: var(--main-max-width);
    padding: 2.5em 1em;
}

#items { 
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(15em, 1fr));
    grid-gap: 1.4em;
    margin-top: 2em;
    margin-bottom: 1.5em;
}

.card_cover {
    height: 140px;
    width: 100%;
    object-fit: cover;
}

.deck_cover {
    height: 230px;
    width: 100%;
    object-fit: cover;
}

.card {
    border-radius: 10px;
}

.card, .deck {
    border: 2px solid var(--main-color);
    position: relative;
    max-width: 269px;
    justify-self: center;
}

.card a, .deck a {
    display: block;
    padding: 0.8em;
    text-decoration: none;
}

.card:hover, .card:focus, .card a:focus {
    background-color: var(--main-color);
    transition: background-color 0.8s;
}

.card_symbol {
    margin-bottom: 0.8em;
}

.card_content {
    background: white;
    position: relative;
    padding: 1.4em;
}

.card_content h2 {
    background: white;
    line-height: 1.4em !important;
    font-size: 1.6em;
    color: var(--main-color);
    text-align: right;
    min-height: 4.2em;
}

.deck_content {
    background: white;
    position: relative;
    padding: 0.2em 1.2em 1em 1.2em;
}

.deck_content h2 {
    background: white;
    font-size: 2.2em;
    color: var(--main-color);
    text-align: center;
}

.deck:hover, .deck:focus, .deck a:focus {
    background-color: var(--main-color);
    transition: background-color 0.8s;
}

.deck_number {
    color: var(--main-color);
    text-align: center;
    font-size: 1.2em;
    margin-top: 0;
}

/* Posts ------------------------- */

#post_content {
    margin-left: auto; 
    margin-right: auto; 
    margin-bottom: 5em;
    max-width: 40em;
}

#post_content img {
    max-width: 100%;
}

#post_image {
    max-height: 200px;
    width: 100%;
    object-fit: cover;
    object-position: 0 25%;
}

.dates {
    padding: 0.6em 1em;
    background-color: #f0f0ff;
    margin: 0.4em 0 2em 0;
}

.date {
    font-size: 0.9em;
}

.js-line-number {
    border: 0 !important;
}

.pagination {
    display: block;
    width: auto;
    overflow: hidden;
}

.pagination .previous_post, .pagination .next_post {
    width: 50%;
    float: left;
}

.pagination .previous_page, .pagination .pages, .pagination .next_page {
    width: 33%;
    float: left;
}

.pagination .pages {
    text-align: center;
}

.pagination .next_post, .pagination .next_page {
    text-align: right;
}

.page_number {
    padding: 0 0.5em;
}

.info {
    color: #bbb;
}

.license {
    clear: both;
    color: white;
    font-size: small;
    display: block;
    margin-top: 40px;
}

.highlight {
    background-color: #eee;
}

.highlighter-rouge {
    background-color: rgba(220,220,220,.5);
}

div .highlighter-rouge {
    margin: 1em 0em;
}

.right {
    float: right;
}

.left {
    float: left;
}

.note {
    background-color: #fff3d4;
    padding: 1em;
}

#post_content img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}
