---
layout: default
---

<div id="post_content">
    <h1>{{ page.title }}</h1>
    <img id="post_image" src="{{ page.image.src }}" alt="">
    <div id="under_cover">
        Published: {{ page.date | date: "%e %B %Y" }}
        {% if page.last_modified_at %}<br/>Last updated: {{ page.last_modified_at | date: "%e %B %Y" }}{% endif %}
    </div>
    {{ content }}
</div>
<div class="pagination">
    <span class="next_post">
        {% if page.next %}
            <a href="{{ page.next.url }}" aria-label="Next post: {{ page.next.title }}">&laquo; {{ page.next.title }}</a>
        {% else %}
            <a href="/" aria-label="Go to home page">&laquo; Home page</a>
        {% endif %}
    </span>
    <span class="previous_post">
        {% if page.previous %}
            <a href="{{ page.previous.url }}" aria-label="Previous post: {{ page.previous.title }}">{{ page.previous.title }} &raquo;</a>
        {% else %}
            <a href="/" aria-label="Go to home page">Home page &raquo;</a>
        {% endif %}
    </span>
</div>
